@import "../../Scss/fonts";

#flagcounter-container {
  height: 100%;
  width: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: $font-medium;
  font-family: $font-primary;
  font-weight: $font-bold;
}

.icon-medium {
  font-size: $font-medium;
}
