@import "../../Scss/fonts";
@import "../../Scss/colors";

#gameselect-container {
  width: 110px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  text-shadow: 0 0 10px $primary-color;
  background-color: $main-background;
}

.icon-medium {
  font-size: $font-medium;
}
