@import "../../Scss/colors";
@import "../../Scss/fonts";

.cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $secondary-color;
  font-family: $font-primary;
  font-size: $font-tiny;
  font-weight: $font-bold;
  background-color: white;

  .unexposed-cell {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    transition: background-color 1s ease-out;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

.exploded {
  color: rgb(157, 0, 0);
  text-shadow: 0 0 20px red;
}

.icon-tiny {
  font-size: $font-tiny;
}

.cell1 {
  color: $cell1;
}

.cell2 {
  color: $cell2;
}

.cell3 {
  color: $cell3;
}

.cell4 {
  color: $cell4;
}

.cell5 {
  color: $cell5;
}

.cell6 {
  color: $cell6;
}

.cell7 {
  color: $cell7;
}

.cell8 {
  color: $cell8;
}
