@import "../../Scss/colors";

#controls-container {
  width: 100%;
  height: 80px;
  border-bottom: 3px solid $primary-color;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: $main-background;
  z-index: 2;
  box-shadow: 0 0 15px $primary-color;

  #controls-cluster {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  #controls-container #controls-cluster {
    width: 1000px;
  }
}
