$primary-color: rgb(255, 0, 255);
$secondary-color: rgb(0, 8, 249);

$main-background: black;

$cell1: blue;
$cell2: green;
$cell3: red;
$cell4: purple;
$cell5: black;
$cell6: gray;
$cell7: maroon;
$cell8: turquoise;
